@charset "UTF-8";
.contents {
	width:850px;
	text-align:left;
	padding-top:10px;
}
.contents h2 {
	margin:15px 0 0 0;
}
.contents h3 {
	margin:25px 0;
}
.contents p {
	color:#696969;
	font-size:12px;
	line-height:180%;
	margin:0 30px;
}